.nav-responsive{
    right: -100%;
    animation: move-nav .5s ease-in-out forwards;
}

.nav-responsive-hidden{
    animation: close-nav .5s ease-in-out forwards;
}

.app-nav{
    position: relative;
    z-index: 10;
}

@keyframes close-nav{
    0%{
        right: 0;
    }
    100%{
        right: -100%;
        opacity: 0;
    }
}

@keyframes move-nav{
    0%{
        right: -100%;
    }
    100%{
        right: 0;
        opacity: 1;
    }
}

header.dark-mode .app-name, header.dark-mode .text-black,
header.dark-mode .toggle-menu-btn{
    color: var(--color-white) !important;
}
